 <h1>My Jupyter Notebook on Watson Studio</h1>

**REMYA MANIKANTAN**

Machine Learning Engineer

*I'm enthusiastic about data science, especially considering how quickly technology is changing the profession. I enjoy being a part of new technologies and trying out innovative solutions*

<h3>The next line of code adds two numbers</h3>

In [1]:
3+2

5





*   List item1
*   List item2
*   List item3
*   List item4
---

1.   Numlist item1
2.   Numlist item2
3.   Numlist item3
---